
* { margin: 0;
     padding: 0; 
     box-sizing: border-box;
     }

.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
   padding: 0 40px;
   height: 100px;
   background-color: #fffff;    
}

.nav-left img {

    height: 60px;
    display: block;
}

.nav-right button {
 
    margin: 12px 0px;
    padding: 10px 30px;
    background-color: rgb(14, 153, 218);
    color: rgb(58, 11, 11);
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition:  0.3s ease;
}

.container {
    display: flex;
    text-decoration:none;
    gap: 80px;
}

.container a {
    text-decoration: none;
}

.container ul{
    list-style: none;
}

.banner {
background-image: url(assets/hero-bg.png);
background-size:cover;
background-position: center;
background-repeat: no-repeat;
height: 70vh;
display: flex;
align-items: center;
justify-content: center;
color: white;
text-align: center;
padding: 0 30px;
}

.hero-bg { 
    display: flex; 
    flex-direction: column; align-items: center; 
    gap: 30px; 
}

.cta-area { 
    display: flex; justify-content: center; align-items: center;
}

.btn {
    padding: 20px 50px;
    font-size: 30px;
    font-weight: 15px;
    background-color: #36b5ff;
    color: white;
    border-radius: 50px;
    box-shadow: 0 0 20px rgb(29, 29, 29);
    cursor: pointer;
    transition:  0.3s ease;
    display: flex;
    gap: 20px;
  
}

.btn img{
    height: 40px;
    width: 40px;
   object-fit: cover;
   border-radius: 50%
   
}

.content {
    font-size: 800;
    font-weight: 200px;
    font: 4em small-caps;
}
.content p {
font-size: 20px;
}

.start-1{
    display: flex;
    list-style: none;
    gap: 30px;
    padding: 20px 60px ;
    border-radius: 20px;
}

.see-how {
    display: flex;
    gap: 5px;
    font-size: 25px;
    padding-top: 20px;
}
.see-how img {
    gap: 40px;
    width: 40x;
    height: 40px;
    /* padding-top: 10px; */
}

.btn-1 {
    padding: 20px 20px;
    font-size: 20px;
    font-weight: 15px;
    background-color: #36b5ff;
    color: white;
    border-radius: 15px;
    box-shadow: 0 0 20px rgb(29, 29, 29);
    cursor: pointer;
    transition:  0.3s ease;
    display: flex;
}

.second-container-1 { 
    text-align: center;
}


.card {
    padding: 10px 200px 50px 300px;
    display: flex;
    align-items: center;
    }
    .divion {
     padding: 20px 50px;
    box-shadow: 5px solid rgb(75, 75, 75);
 }

.firstline {
    font-size: 50px;
    font: optional;Inter;

}

.second-line {
    font-size: 30px;
    list-style: none;
}

.bookmark img {
 background-image:url(assets/Vector.png);
 background-color: #36b5ff;
 border-radius: 18px;
 border: 4px solid #36b5ff;
 position: calc(center);
 list-style: none;
}

.bookmark {
    background-color: rgb(252, 252, 252);
    font-size: 16px;
    border: 2px solid rgb(228, 228, 228);
    box-shadow: 5px #afafaf;
    width: 200px;
    height: 200px;
    list-style: none;
    text-align: center;
    padding: 10px 10px 10px 10px;
}

.knowledge {
    display: flex;
    padding: 10px 0 0 300px;
}

.second-brain {
    font-size: 50px;
}
.knowledge-1 {
    border: 20px solid rgb(255, 255, 255)55);
    text-align: center;
}

.knowledge-2 {
    border: 2px  rgb(0, 0, 0)55);
    padding: 60px;
}

.CheckCircle-image {
    padding: 10px;
}

.CheckCircle img {

    height: 15px;
}
.CheckCircle {
    padding: 5px 5px 5px 5px;
    list-style: none;
    align-items: center;
    text-align:left;
    font-size: 20px;
    height: 10px;
    gap: 50px;
}

.box {
    margin: 10px 200px 1px 300px;
    width: 1360px;
    height: 384px;
    background-color:#F7F6F2;
    text-align: center;
}
.more {
    padding-top: 50px;
}

.Join {
    padding-top: 30px;
    padding-bottom: 10px;
}

.btn-3 {
    padding: 10px 10px;
    font-size: 20px;
    font-weight: 12px;
    background-color: #10cf86b9;
    color: white;
    border-radius: 5px;
    box-shadow: 0 0 2px rgb(16, 94, 42);
    cursor: pointer;
    transition:  0.3s ease;
    gap: 20px;
    border: none;
  
}

#fde{
    padding-top: 5px;
}

.Footer-1{
    background-image: url(Sections/Footer.png);
   background-size: cover;
}